apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: reactjs
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ gitops_repo_url }}
    targetRevision: {{ gitops_repo_revision }}
    path: {{ gitops_repo_path }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ react_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
